body{
    background-color: rgb(72, 71, 71);
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

.times-new-roman-title {
    font-family: 'Times New Roman', Times, serif;
}

.palette-green{
    color: #596a48;
}
.palette-black{
    color: #212528;
}
.palette-gray{
    color: #999788;
}
.palette-lightgray{
    color: #c9c1b6;
}
.palette-darkgray{
    color: #403b35;
}
.palette-salmon{
    color: #ff9750;
}
.palette-yellow{
    color: #ffb605;
}
.palette-pink{
    color: #bd4343;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background: #fff;
    font-size: 24px;
    border: 1px solid #888;

}

.emoji_big{
    height:200px;
    width: 200px;
    border: 1px solid #666666;
    border-radius: 15px;
    box-shadow: 0 0 5px #dddddd;
}
.emoji_big_selected {
    border: 6px solid green;
    box-shadow: 0 0 25px #999;
}

.emoji_small{
    height:50px;
    width: 50px;
}

.font_massive{
    font-size: 8rem;
}
.card-title-huge{
    font-size: 4rem;
    font-weight: bold;
}

.card-title{
    font-size: 3rem;
    font-weight: bold;
}

.card-title-small{
    font-size: 2rem;
    font-weight: bold;
}


.vis1-card-image-top{
    position: relative;
}

.vis1-image-title{
    font-size: 1.3rem;
    font-weight: bold;
    text-align: left;
    padding: 4px;
    min-height: 55px;
    position: absolute;
    color: white;
    background: rgba(128, 128, 128, 0.2);
}

.card-area{
    min-height: 400px;
    background-color: white;
}
.card-area-transparent{
    min-height: 400px;
    background-color: transparent;
}


.card-center-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; /* Make sure the card-body takes up the full height of the card */

}

.text-darkgreen {
    color: darkgreen;
}

.section{
    margin-bottom: 50px;
}


/* Custom CSS for the Email Template */
/* Set the range input width to 100% of the container */
.vis1-slider {
    width: 90%;
}

/* Increase the size of the thumb (slider handle) to 20px */
.vis1-slider::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    background-color: #007bff; /* You can change the color if desired */
    border: 2px solid #007bff; /* Add a border to the thumb */
    border-radius: 50%; /* Make it a circle */
    cursor: pointer;
}

.vis1-slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background-color: #007bff;
    border: 2px solid #007bff;
    border-radius: 50%;
    cursor: pointer;
}

.vis1-news-lead{
    font-size: 2.2em;
    font-weight: bold;
    padding-bottom: 12px;
}
.vis1-news-second{
    font-size: 2em;
    font-style: italic;
    text-align: center;
    padding-bottom: 6px;
}

.vis1-news-social{
    font-size: 1.8em;
    font-weight: bold;
    text-align: left;
    color: purple;
    padding-bottom: 6px;
}

.vis1-news-item3{
    font-size: 1.2em;
    letter-spacing: 5px;
    text-align: left;
    margin-bottom: 10px;
    padding:5px;
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid #eeeeee;
}
.vis1-news-item4{
    font-size: 1.4em;
    letter-spacing: 2px;
    text-align: left;
    padding-bottom: 4px;
}
.vis1-news-item5{
    font-size: 1.3em;
    font-weight: bold;
    text-align: left;
    padding-bottom: 4px;
}

.email-section{
    display: block;
}
.vis1-fb-top{
    padding: 20px;
    width: 100%;
    color: #fff;
    text-align: center;
}

.vis1-email-top{
    padding: 20px;
    background-color: steelblue;
    color: #fff;
    text-align: center;
}


/* Email Sidebar with Year Buttons */
.vis1-email-sidebar {
    padding: 5px;
    /*background-color: #f4f4f4;*/
    /*border-right: 1px solid #ddd;*/
    text-align: center;
}

.vis1-fb-sidebar {
    padding-top: 30px;
    /*background-color: #f4f4f4;*/
    /*border-right: 1px solid #ddd;*/
    text-align: center;
}

.vis1-year-button {
    display: block;
    width: 100%;
    text-align: left;
    padding: 2px;
    padding-left: 5px;
    margin-bottom: 5px;
    border: none;
    background-color: green;
    color:white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.vis1-year-button:hover {
    background-color: #e1e1e1;
}

.vis1_fb_images{
    background-size: cover;
    height: 100%;
    width: 100%;
    /*margin-top:2px;*/
    /*margin-right:2px;*/
    font-size: 20px;
    font-weight: bold;
}


/* Email Header */
.vis1-email-header {
    text-align: center;
    margin-bottom: 20px;
}

.vis1-email-title {
    font-size: 1.2em;
    margin-bottom: 10px;
    font-weight: bold;
}



/* Email Message */
.vis1-email-message {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}



/* Visualization Mockup */
.vis1-visualization {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /*margin-bottom: 20px;*/
}

.vis1-list-item {
    list-style-type: disc;
    margin-left: 20px;
}



/* Email Footer */
.vis1-email-footer {
    text-align: center;
    color: #777;
    font-size: 14px;
    margin-top: 20px;
}

.vis1-email-footer p {
    margin: 0;
}

/* Show tooltip on hover */
.tooltip-container:hover .tooltip {
    visibility: visible;
}

/* Change tooltip color on hover */
.tooltip-container:hover .tooltip {
    background-color: #6a86a1; /* New background color */
}

/* Jess's CSS*/
/*For the 2nd visualization -------------------------------------------------------------------------------------*/
.tooltip{
    opacity: 1;
}

#doughnutChartContainer, #bubbleChartContainer {
    position: absolute;
    /*object-position: left;*/
    top: 50%;
    left: 22%;
    transform: translate(-50%, -50%);

}

/*area of the container holding the visualizations */
.vis2-card-area{
    height: 40rem;
    width: 100rem;
    background-color: #ffffff;
}

#card-back-next{
    width: 100rem;
    display: flex;
}


#vis2-back-button,
#vis2-next-button{
    padding: 1rem;      /* Increase padding */
    margin: 1rem;       /* Adjust external spacing */
    position: relative; /* Control positioning */
    z-index: 10;        /* Ensure it's above other elements */
    cursor: pointer;
    font-size: 2.2rem;/* Change cursor to indicate clickability */
}

#year-selector,
#topic-selector{
    width: 85%;       /* Width of the dropdown */
    height: 50%;       /* Height of the dropdown */
    font-weight: bold;/* Font size of the dropdown text */
    /*padding: 1rem 1rem;  !* Padding inside the dropdown *!*/
    border-radius: 1rem; /* Rounded corners */
    font-size: 2.2rem;
    margin-top: 1rem;
}


#p1{
    margin-top: 2.2rem;
}

#my-text {
    padding-top: 2rem;
    padding-right: 55px;
    margin-top: 10px;
    font-size: 1rem;
}

.top-bar-title{
    text-align: center;
    font-weight: bold;
    font-size: 3.5rem;
}

/*----------------------------------------------------------------------------------------------------------------------

/*VIS 4 Race Bar Chart */
#vis4-year-display{
    text-align: end;
    position: absolute;
    color: #666;
    right: 30px;
    bottom: 20px;
}

#vis1-redo-button{
    /*background-color: steelblue;*/
    border-color: #666666;
}

#vis1-redo-button:disabled{
    background-color: darkgrey;
    border-color: #666666;
}

.vis4-topPeakedSpan{
    /*color: red;*/
    /*font-size: 1.5em;*/
    /*font-weight: bold;*/
}


/* Vis 3 */
#mapContainer{
    height: 71vh;
    width: 100%;
}

.tooltip {
    position: absolute;
    text-align: center;
    font: 12px sans-serif;
    /*  pointer-events: none;	This line needs to be removed */
}
.tooltip h3,h4 {
    text-align: left;
}
.tooltip h4 {
    font: 14px sans-serif;
}

.connection {
    stroke: black;
    stroke-dasharray: 5;
    stroke-width: 3px;
    opacity: 0.7;
}

